.user-menu {
  position: absolute;
  top: 0;
  right: -270px;
  box-sizing: border-box;
  background: var(--primary-background);
  min-width: 220px;
  max-width: 220px;
  font-size: 16px;
  font-weight: 300;
  padding: 16px;
  border-radius: 5px;
  box-shadow: 10px 30px 30px rgba(0, 0, 0, 0.1);
}

.user-menu-header {
  font-weight: bold;
  padding-top: 16px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--line-color);
}

.user-menu-header .link {
  display: block;
  color: var(--secondary-text-color);
  transition: 0.1s;
}

.user-menu-header .link:hover {
  color: var(--primary-text-color);
}

.user-menu-items {
  padding: 16px 0;
  border-bottom: 1px solid var(--line-color);
}

.user-menu-item > .link {
  padding: 8px 0;
  font-weight: normal;
  display: block;
  color: var(--secondary-text-color);
  transition: 0.1s;
}

.user-menu-item > .link:hover {
  padding: 8px;
  color: var(--primary-text-color);
  background: var(--light-background);
}

.user-menu-footer {
  padding-top: 16px;
}
