/* dashboard-content-panel-chart-user */
.dashboard-content-panel-chart-user{
  width: 100%;
  flex: 1;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding:16px 16px 0;
  box-sizing: border-box;
  margin-top: 16px;
}

.dashboard-content-panel-chart-user > .header{
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.dashboard-content-panel-chart-user > .header > .title{
  font-size: 12px;
  color: var(--secondary-text-color);
}

.dashboard-content-panel-chart-user > .header > .data-name{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: var(--secondary-text-color);
}

.dashboard-content-panel-chart-user > .header >.data-name > .data-name-blue {
  display: flex;
  align-items: center;
  margin-right: 30px;
  padding: 3px;
  border-radius: 4px;
}

.dashboard-content-panel-chart-user > .header >.data-name > .data-name-blue::before{
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgba(46,91,255);
  margin-right: 5px;
}

.dashboard-content-panel-chart-user > .media {
  overflow-x: hidden;
}