.post-show-header {
  display: grid;
  grid-template-columns: 1fr 64px;
  gap: 16px;
  margin-bottom: 48px;
}

.post-show-header > .content > .text {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
}

.post-show-header > .content > .text > .title {
  font-size: 26px;
  margin-right: 16px;
}

.post-show-header > .content > .meta,
.post-show-header > .content > .meta > .link {
  color: var(--secondary-text-color);
}
