/* reply-create */
.reply-create {
  display: flex;
  margin-top: 16px;
}

.reply-create > .thumbnail {
  margin-right: 16px;
}

.reply-create > .content {
  flex-grow: 2;
  margin-bottom: 16px;
}

.reply-create > .content > .field {
  margin-bottom: 8px;
}

.reply-create .input.textarea {
  font-size: 14px;
  padding: 8px;
  margin: 0;
  border-radius: 5px;
}

.reply-create > .content > .actions > .button:last-child {
  margin-right: 0;
}

.reply-create > .thumbnail > .user-avatar.small {
  width: 16px;
  height: 16px;
}
