/* ban-list-item */
.ban-list-item {
  border-bottom: 1px solid var(--line-color);
}

.ban-list-item > .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-text-color);
  padding: 24px 0;
  font-size: 14px;
  background: var(--primary-background);
  position: relative;
  z-index: 10;
}

.ban-list-item > .content > .id {
  min-width: 100px;
}

.ban-list-item > .content > .user {
  min-width: 200px;
  display: flex;
}

.ban-list-item > .content > .postAmount {
  min-width: 100px;
}

.ban-list-item > .content > .commentAmount {
  min-width: 100px;
}

.ban-list-item > .content > .status {
  min-width: 130px;
  font-size: 12px;
}

.ban-list-item > .content > .status > .userStatusButton.normal {
  cursor: pointer;
  display: block;
  width: 32px;
  line-height: 16px;
  text-align: center;
  background-color: #409EFF;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 10px;
}

.ban-list-item > .content > .status > .normal:hover{
  opacity: 0.8;
}

.ban-list-item > .content > .status > .userStatusButton.ban {
  cursor: pointer;
  display: block;
  width: 48px;
  line-height: 16px;
  text-align: center;
  background-color: #F56C6C;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 10px;
}

.ban-list-item > .content > .status > .ban:hover{
  opacity: 0.8;
}

.ban-list-item > .content > .user > .user-avatar {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.ban-list-item > .content > .user > .user-name .link {
  color: var(--secondary-text-color);
}

.ban-list-item > .content > .status > .hideButton.ban{
  cursor: pointer;
  display: block;
  width: 32px;
  line-height: 16px;
  text-align: center;
  background-color: #F56C6C;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  margin: 0 10px;
}

.ban-list-item > .content > .status > .hideButton.unseal{
  cursor: pointer;
  display: block;
  width: 32px;
  line-height: 16px;
  text-align: center;
  background-color: #409EFF;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  margin: 0 10px;
}

.ban-list-item > .content > .status >.hideButton:hover{
  opacity: 0.8;
}

.ban-list-item > .content > .status {
  display: flex;
}

.hide-button-enter-active {
  transform: translateX(100px);
  transition: 0.25s;
}

.hide-button-enter-to {
  transform: translateX(0);
}

.hide-button-leave-active {
  transform: translateX(0);
  transition: 0.25s;
}

.hide-button-leave-to {
  transform: translateX(100px);
}