/* ban-list-item */
.ban-list-item {
  cursor: pointer;
  border-bottom: 1px solid var(--line-color);
}

.ban-list-item > .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-text-color);
  padding: 24px 0;
  font-size: 14px;
  background: var(--primary-background);
  position: relative;
  z-index: 10;
}

.ban-list-item > .content > .id {
  min-width: 100px;
}

.ban-list-item > .content > .user {
  min-width: 200px;
  display: flex;
}

.ban-list-item > .content > .postAmount {
  min-width: 100px;
}

.ban-list-item > .content > .commentAmount {
  min-width: 100px;
}

.ban-list-item > .content > .status {
  min-width: 100px;
}

.ban-list-item > .content > .user > .user-avatar {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.ban-list-item > .content > .user > .user-name .link {
  color: var(--secondary-text-color);
}
