.reply-list-item {
  display: flex;
  margin-bottom: 16px;
}

.reply-list-item > .thumbnail {
  margin-right: 8px;
}

.reply-list-item > .thumbnail > .user-avatar.small {
  width: 16px;
  height: 16px;
}
