/* post-side-sheet-footer */
.post-side-sheet-footer {
  position: fixed;
  bottom: 0;
  width: 330px;
  box-sizing: border-box;
  min-height: 57px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--secondary-text-color);
  padding: 8px 24px;
  border-top: 1px solid var(--line-color);
  backdrop-filter: blur(4px);
}

.post-side-sheet-footer > .button {
  font-size: 12px;
  padding: 8px 16px;
}
