/* post-side-sheet-header-download */
.post-side-sheet-header-download {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.3);
}

.post-side-sheet-header-download > .image {
  margin-bottom: 16px;
}

.post-side-sheet-header-download > .header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.post-side-sheet-header-download > .description {
  margin-bottom: 16px;
  font-size: 14px;
  max-width: 200px;
  font-weight: lighter;
  line-height: 1.5;
  text-align: center;
}

.post-side-sheet-header-download > .action {
  margin-bottom: 16px;
}
