/* app-search-option */
.app-search-option {
  margin: 0 10px;
}

.app-search-option:last-child {
  margin-right: 0;
}

.app-search-option > .button {
  color: var(--secondary-text-color) !important;
}

.app-search-option.active > .button {
  color: var(--primary-text-color) !important;
  background-color: #c1bdbd;
  border-radius: 3px;
  padding: 0 3px;
  transition: all 0.3s;
}
