.app-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-sidebar-item {
  margin-bottom: 32px;
}

.app-sidebar-item > .link {
  text-decoration: none;
  display: inline-block;
}

.app-sidebar-item.bottom {
  flex-grow: 2;
  display: flex;
  align-items: flex-end;
}

.app-sidebar-item.brand {
  margin-bottom: 64px;
}

.app-sidebar-item.user {
  position: relative;
}

.user-menu-enter-active {
  transform: translateX(-24px);
  opacity: 0;
  transition: 0.3s;
}

.user-menu-enter-to {
  transform: translateX(0);
  opacity: 1;
}

.user-menu-leave-active {
  transition: 0.3s;
}

.user-menu-leave-to {
  transform: translateX(-24px);
  opacity: 0;
}
