/* comment-list-item-skeleton */
.comment-list-item.skeleton > .thumbnail {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: var(--skeleton-background);
}

.comment-list-item-meta.skeleton {
  width: 32px;
  height: 12px;
  background: var(--skeleton-background);
}

.comment-list-item-content.skeleton {
  width: 200px;
  height: 16px;
  background: var(--skeleton-background);
}
